@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  background-image: url('C:/Users/User/Desktop/online-shopping-t.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: blue;
}

.btn {
  padding: 0.6rem 1.2rem;
  background: #C0C0C0;
  border: 2px solid #2e1ccc;
  color: #2e1ccc;
  cursor: pointer;
}

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #2e1ccc;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form select,
.form input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form select {
  height: 34px;
}

.form button {
  padding: 10px 20px;
  background-color: #2e1ccc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form button:hover {
  background-color: #5936a1;
}

.form .nazad {
  margin-top: 20px;
  text-align: center;
}

.form .nazad a {
  color: #2e1ccc;
  text-decoration: none;
}

.form .nazad a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}
