/* Registracija.css */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  max-width: 400px;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.3s;
}

input[type="file"] {
  margin-top: 5px;
}

select {
  appearance: none;
  padding-right: 25px; /* Add a dropdown arrow indicator */
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E") no-repeat right 10px center;
  background-color: white;
  background-size: 12px 12px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
select:focus {
  border-color: #007bff;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.nazad {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.message {
  color: red;
  margin-top: 10px;
}

/* Media Query for Small Screens */
@media (max-width: 480px) {
  .form {
    max-width: 100%;
  }
}
